/*Global Styles*/
html, body {
    height: 100%; /*Body will now take up all of the page*/
    margin: 0;
    padding: 0;
    background-color: #FFE5EC;
    font-family: 'Mali', sans-serif;
    display: flex;
    flex-direction: column;
}

/*Containte r- pushs content from footer to the bottom*/
.container {
    flex: 1; /*container will take up remaining space*/
    max-width: 100%;
    /* margin: 0 auto; */
    padding: 0 20px;
}

/*Header Layout*/
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

#intro {
    margin-right: auto;
}

.icon {
    display: flex;
    gap: 15px;
}

.icon a {
    text-decoration: none;
    color: #3d1126;
    font-size: larger;
}

.icon a:hover {
    color: #c9184a;
}

.oval-background {
    background-color: white;
    padding: 10px 20px;
    border-radius: 50px;
    color: #c9184a;
    font-weight: bold;
    border: #c9184a 2px solid;
}

/*Navigation Styles*/
nav ul {
    list-style-type: none;
    display: flex;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul a {
    text-decoration: none;
    color: #c9184a;
    font-weight: 600;
}

nav ul a:hover {
    text-decoration: underline;
    color: #fa002d;
}

#profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.pic img {
    width: 80%;
}

#text {
    width: 50%;
    color: #c9184a;
}

.oval-button {
    background-color: transparent;
    color: #ff8fa3;
    padding: 10px 20px;
    border: 2px solid #ff8fa3;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
}

.oval-button:hover {
    transform: scale(0.98);
    color: #c9184a;
}

/*Footer*/
.foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3d1126;
    color: white;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.footer-left {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.footer-left p {
    margin: 0;
}

.footer-left a {
    color: white;
    text-decoration: none;
}

.footer-left a:hover {
    opacity: 0.8;
}

.footer-right {
    display: flex;
    align-items: center;
}

.footer-right a {
    margin-left: 15px;
}

.footer-right img {
    width: 30px;
}

.footer-right a:hover img {
    opacity: 0.8px;
}

/*Media Query For Mobile*/
@media (max-width: 768px) {
    #profile {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .pic img {
        margin-bottom: 20px;
    }

    #text {
        width: 100%; /*Full width for small screens*/
        padding-top: 0;
    }

    .oval-button {
        margin-top: 10px;
    }
}